Language:        Cpp
BasedOnStyle:  Google

IndentWidth: 4
ColumnLimit: 100000
SortIncludes: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignTrailingComments: true
BreakBeforeBraces: Allman
PointerAlignment: Left
IndentPPDirectives: BeforeHash
AlignConsecutiveMacros: true
AllowAllParametersOfDeclarationOnNextLine: true
